* {
  margin: 0;
  padding: 0;
}
.body {
  padding: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.logo img {
  width: 100px;
}

.Nav-items > ul {
  display: flex;
  font-size: 24px;
  padding: 20px;
}
.Nav-items > ul > li {
  padding: 15px;
  list-style: none;
}
.Nav-items > ul > li:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  /* border: 1px solid #cccccc; */
  background-color: rgb(228, 146, 95);
  cursor: pointer;
  border-radius: 50px;
  color: white;
}
.Header-link {
  text-decoration: none;
  color: inherit;
}
.Restaurant-link {
  text-decoration: none;
  color: inherit;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

#res-card {
  margin: 15px;
  height: 375px;
  width: 250px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
}
.res-logo {
  width: 240px;
  margin: 5px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
#res-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: rgb(90, 233, 142);
  cursor: pointer;
}
.Search {
  padding: 10px;
}
.content {
  margin: 5px;
  padding: 5px;
}
/* .content > h3 {
  padding-left: 50px;
} */
.content > h4 {
  padding: 10px 0 10px 0;
}

.filter-btn {
  font-size: 16px;
  padding: 5px;
}
.filter-btn:hover {
  cursor: pointer;
}

.shim-container {
  display: flex;
  flex-wrap: wrap;
}

.shim-cards {
  margin: 15px;
  height: 375px;
  width: 250px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  background-color: #f0f0f0;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.search {
  cursor: pointer;
  margin: 0 100px 0 0;
}

.login {
  padding: 5px;
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
}

.itemCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 20px 0px;
}
.cardList {
  border: 1px solid black;
  height: 130px;
  width: 500px;
  margin: 0 16px;
  padding: 5px;
  text-align: left;
}
.menuList {
  border: 1px solid black;
  text-decoration: none;
}
.title {
  padding: 10px;
  color: rgba(66, 63, 63, 0.825);
}
.menuList > ul {
  list-style: none;
}
/* .Form {
  display: flex;
  border: 1px solid black;
  height: 400px;
  width: 300px;
  align-items: center;
  justify-content: center;
  margin: 50px; 
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
} */
